body {
    font-family: Arial, sans-serif;
    background-color: darkgrey;
    color: azure;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #23282d;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container img {
    padding-right: 10px;
    padding-bottom: 30px;
}

header h1 {
    margin: 0;
    padding-bottom: 25px;
    font-family:"Arial Rounded MT Bold", sans-serif;
}

nav li {
    margin-right: 30px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav a {
    display: block;
    padding: 1px;
    color: white;
    text-decoration: none;
}

#myText {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#myText p {
    line-height: 1.2;
}

div{
    display: block;

}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer {

    padding: 10px;
    color: black;
    text-decoration: none;
    background-color: dimgrey;
}



