<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>org.example.cocktails.Cocktail</title>
    <link rel="style" th:href="@{/css/main.css}">
</head>
<body>
<div class="container mt-4">
    <!-- Cocktail List Section -->
    <section>
        <h1>All Cocktails</h1>
        <ul class="list-group">
            <li class="list-group-item" th:each="cocktail : ${cocktails}">
                <strong th:text="${cocktail.name}"></strong>:
                <span th:text="${cocktail.ingredients}"></span>
            </li>
        </ul>
    </section>

    <!-- Search Form Section -->
    <section class="mt-4">
        <h1>Search by Ingredient</h1>
        <form action="/search" method="get" class="form-inline"> <!-- Updated action attribute -->
            <div class="mb-3">
                <label for="ingredient" class="form-label">Ingredient</label>
                <input type="text" id="ingredient" name="ingredient" class="form-control" placeholder="Type one ingredient"
                       th:value="${ingredient}">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </section>
</div>
</body>
</html>
