<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/testlogo.jpg" type="image/png">
    <title>CocktailGuide</title>
    <link rel="stylesheet" href="/style/index-style.css">
</head>
<body>

<header>
    <div class="header-container">
        <img src="/images/testlogo.jpg" width="50" height="50" alt="drinks">
        <h1>CocktailGuide</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#Cocktails">Cocktails</a></li>
            <li><a href="#Shop">Shop</a></li>
            <li><a href="#Hire">Hire</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
    </nav>
</header>

<div id="myText">
    <h1>Cocktails Rediscovered</h1>
    <p>use our cocktail database to discover amazing cocktails you can make right now</p>
    <p>create list for your own home bar, parties and more</p>

    <div class="button-group">
        <a href="/add" class="button">Start</a>
    </div>
</div>

<div class="img-container">
    <img src="/images/Drinks.jpg" width="600" height="600" alt="drinks">
    <img src="/images/Millionaire.jpg" width="600" height="600" alt="drinks">
</div>

<footer>
    <p><a href="">Contract</a></p>
    <p><a href="">join us</a></p>

</footer>

</body>
</html>