<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/order}" th:object="${cocktailOrder}" method="post">
    <label for="CocktailMenu">Cocktail Menu:</label>
    <select id="CocktailMenu" name="cocktailMenu" th:field="*{cocktailMenu}">
        <option th:each="menu : ${cocktailMenu}" th:value="${menu}" th:text="${menu.displayName}">Cocktail Menu</option>
    </select>
    <br><br>


    <label for="cocktailType">Cocktail Type:</label>
    <select id="cocktailType" name="cocktailType" th:field="*{cocktailType}">
        <option th:each="cocktail : ${cocktailType}" th:value="${cocktail}" th:text="${cocktail.displayName}">Cocktail Type</option>
    </select>
    <br><br>

    <label for="cocktailStrength">Cocktail Strength:</label>
    <select id="cocktailStrength" name="cocktailStrength" th:field="*{cocktailStrength}">
        <option th:each="strength : ${cocktailStrength}" th:value="${strength}" th:text="${strength.displayName}">Cocktail Type</option>
    </select>
    <br><br>
    <button type="submit">Place order</button>
</form>

</body>
</html>